@using Microsoft.AspNetCore.Identity
@using System.Linq


<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Tests
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item nav-link text-dark" asp-area="" asp-page="/Plugin">Plugin</a>
        <a class="dropdown-item nav-link text-dark" asp-area="" asp-page="/JsonPlaceHolder">JsonPlaceHolder</a>
        <a class="dropdown-item nav-link text-dark" asp-area="" asp-page="/OAuth2Management">OAuth2Management</a>

        
    </div>
</li>