@page
@model PluginModel
@{
    ViewData["Title"] = "Plugin";
}
@{
    var provider = "google";
    var localhost = $"https://{HttpContext.Request.Host}/Plugin";
}
@section headEnd
{
    <script type="text/javascript" src="~/lib/ternarylabs/porthole/porthole.js"></script>
}
@section Scripts
{
    <script src="~/js/fetch-activity-monitor.js" asp-append-version="true"></script>
    <script>

        var hostWindowProxy;
        var loginProxy;


        ///////////////////////////////
        // functions for UI elements
        ///////////////////////////////
        function signin() {
            var loginform = document.getElementById("loginform");
            loginform.submit();
        }

        

        document.getElementById('pushState').addEventListener("click", myPushState, false);
        function myPushState() {
            window.history.pushState(null, null, '/a');
        }

        document.getElementById('ping').addEventListener("click", ping, false);
        function ping() {
            fetch("/api/ping", {
                method: 'GET',
                headers: { 'Content-Type': 'text/plain' }

            }).then(function (res) {
                console.log(res);
            });
        }

        function onMessage(messageEvent) {
            /*
           messageEvent.origin: Protocol and domain origin of the message
           messageEvent.data: Message itself
           messageEvent.source: Window proxy object, useful to post a response
           */
            document.getElementById("received-message").innerHTML = JSON.stringify(messageEvent);
        }


        window.onload = function () {

            fetchActivityMonitor.start(() => {
                console.log("fetchActivityMonitor called.")
                if (hostWindowProxy) {
                    hostWindowProxy.post({ 'keepAlive': true });
                }
            });
            var signinButton = document.getElementById('signin');
            if (signinButton) {
                signinButton.addEventListener("click", signin, false);
            }


            hostWindowProxy = new Porthole.WindowProxy('@Model.HostPortHole');
            hostWindowProxy.post({ 'plugin': { error: null, name: '@localhost' } });
            // Register an event handler to receive messages;
            hostWindowProxy.addEventListener(onMessage);


            // Create a proxy window to send to and receive
            // messages from the iFrame
            loginProxy = new Porthole.WindowProxy(
                '@Model.FrameLoginProxy',
                'loginFrame');
            // Register an event handler to receive messages;
            loginProxy.addEventListener(onMessage);

            var initialState = "onpopstate: length:" + window.history.length + " location: " + document.location;
            document.getElementById("popstate-message2").innerHTML = JSON.stringify(initialState);

            window.onpopstate = function (event) {
                var message = "onpopstate: length:" + window.history.length + " location: " + document.location + ", state: " + JSON.stringify(event.state);
                console.log(message);
                document.getElementById("popstate-message2").innerHTML = JSON.stringify(message);
 
            };
        };


    </script>
}
<h1>@ViewData["Title"]</h1>

<p>@localhost</p>
<p id="popstate-message2">no popstate yet</p>

<button id='ping'>ping</button>
<button id='pushState'>pushState</button>
<p id="received-message">I've heard nothing yet from received-host-message</p>
@{
    if (!User.Identity.IsAuthenticated)
    {
        <button id='signin'>signin</button>
        <p id="received-message">I've heard nothing yet</p>
        <form style="display: none;" id="loginform" target="loginFrame"
              action="/Identity/Account/ExternalLogin?returnUrl=%2FOIDCIFrameResult&amp;errorUrl=%2FOIDCIFrameResult&amp;prompt=none&amp;provider=@provider"
              method="post">
            <div>
                <p>

                    <input type="submit">
                </p>
            </div>
        </form>


        <iframe style="display: none;" id="loginFrame" name="loginFrame" src="/Blank">
            Your browser does not support inline frames.
        </iframe>
    }
}




